certifi==2019.3.9
chardet==3.0.4
csv2json==0.2.2
defusedxml==0.6.0
Django==2.1.8
django-allauth==0.39.1
django-appconf==1.0.3
django-bootstrap-pagination==1.7.0
django-bootstrap4==0.0.8
django-extensions==2.1.6
django-imagekit==4.0.2
django-staticfiles-isotope==1.5.18
idna==2.8
oauthlib==3.0.1
pilkit==2.0
Pillow==6.0.0
pprint==0.1
python3-openid==3.1.0
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
simplejson==3.16.0
six==1.12.0
urllib3==1.24.3
